*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: fantasy;
  
  letter-spacing: 5px;
  font-style: normal;
}

.cont{
    background-color: white;
    height: 452px;
    width: 479px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.diva{
    height: 276px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}
.humid{
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 11px;
    
}
.form{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 40px;
}
.form input{
    border-radius: 0px;
    border: 3px solid grey;
    font-size: 17px;
    font-family: fangsong;
    width: 300px;
}

.form button{
    border: none;
    padding: 7px 8px;
}
.form button:hover{
    border-radius: 50%;
    /* height: 27px; */
    padding: 7px 8px;
    background: #bfbfbf;
}

.long{
    
        display: flex;
        align-items: center;
        justify-content: space-around;
    
}

/* making website responsive */
@media (max-width:475px){

    .cont{
        width: 300px;
    }
    .long {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
    }
    .form input {
        border-radius: 0px;
        border: 3px solid grey;
        font-size: 17px;
        font-family: fangsong;
        width: 203px;
        margin-top: 8px;
    }
}